@charset "gb2312";
/*typography.css*/
hr {margin-top:7px;*margin: 0;  border: 0; color: #FFF; background-color: #FFF; height: 1px }
strong { color:#666; font-weight: bold; }
em { font-style: italic; }
a:focus, a:hover { color:#BD0A01; }
a { color:#2B2B2B; text-decoration:none; white-space:nowrap; }
a.wsn { white-space:normal; }
a.detail { color:#BA2538; }
a.bt { background:transparent url("http://news.21cn.com/images/2010/bt.gif") repeat-X scroll 0 0; line-height:23px; border:1px solid #D8D8D8; padding:4px; margin:0 10px; }
a.bt-h17 { line-height:17px; padding:1px 10px; }
p { line-height:1.5em; }
/*字号-行高-字族*/
.fz0 { font-size:0; line-height:0; }
.fz31 { font-size:31px; font-family:"simhei"; font-weight:700; line-height:35px; letter-spacing:-2px; padding:2px 0 1px; }
.fz22 { font-size:22px; font-family:"simhei"; padding-top:3px; }
.fz18 { font-size:18px; font-family:"simhei"; padding:4px 0 1px; }
.fz16 { font-size:16px; font-weight:700; }
.fz14 { font-size:14px; }
.fz14-b { font-size:14px; font-weight:700; }
.lh24 { line-height:24px; }
/*字体颜色*/
.c-blue { color:#003C6E; }
.c003C6E { color:#003C6E; }/*大写Hex*/
.underline { text-decoration:underline; }/*下划线*/
/*文本 Text*/
/*对齐*/
.tc { text-align:center;}
.tr { text-align:right; }
.tl { text-align:left; }
.nowrap { white-space: nowrap; } /*强制一行*/
/*背景 Background*/
.bgc98AB6F { background-color: #98AB6F }/*大写Hex*/
/*图标共用样式*/
.ico { background-repeat:no-repeat; padding-left:1em; background-position:0 center; }
.ico-gold { background-image:url(ico-gold.gif); padding-left:10px; }
.ico-email { background-image:url(ico-email.gif); padding-left:20px; }
.ico-gift { background-image:url(ico-gift.gif); padding-left:20px; }
.vc .icon { vertical-align:middle; }
.vc .b { display:inline-block; }
/*9宫格4个角落共用样式
css雪碧*/
/*头条新闻*/
.hl a { color:#003C6E; }
.hl a:focus, .hl a:hover { color:#BD0A01; }
/*描述*/
.descn { text-indent:2em; }
.descn .detail { color:#BD0A01; }
/*list style*/
ul { line-height:2em; zoom:1; }
ul.fz14 { line-height:25px; }
ul.txt li .subject { font-weight:700 }
ul.txt li .sub { font-size:12px; color:#8A8A8A; }
/*chart*/
.chart { zoom:1; }
.chart li { line-height:22px; padding-left:2em; background:transparent url(http://news.21cn.com/images/2010/1-10.gif) no-repeat scroll 5px 5px; }
.chart .no2 { background-position:5px -17px; }/**22*/
.chart .no3 { background-position:5px -39px; }
.chart .no4 { background-position:5px -61px; }
.chart .no5 { background-position:5px -83px; }
.chart .no6 { background-position:5px -105px; }
.chart .no7 { background-position:5px -127px; }
.chart .no8 { background-position:5px -149px; }
.chart .no9 { background-position:5px -171px; }
.chart .no10 { background-position:5px -193px; }
